/* Paleta de colores

Azul: #03264C;

Verde: #39b54a;

● Tipografías
Familia: 'Roboto'

● Tamaños Tipográficos
Cuerpos de texto: 12px
Titulares (Basado en tu última visita/Ofertas): 24px
Precios: 18px
Descuentos: 16px
Descripciones: 16px
*/
.body-home{
    font-family: arial, Roboto;
    font-size: 12px;
    font-weight: 700;}
.header-home{
    background-color: #EAC926;}
h2{
    font-size: 24px;}
h4{
    font-size: 16px;}
p{
    font-size: 16px;}
.Copyright{
    font-size: 12px;
    color: #ebebeb;}
